@charset "utf-8";
/**** CSS Document ****/

/**** Fonts ****/

@font-face {
    font-family: "bariol";
    src: url('../fonts/bariol_bold-webfont.eot');
    src: url('../fonts/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol_bold-webfont.woff') format('woff'),
         url('../fonts/bariol_bold-webfont.ttf') format('truetype'),
         url('../fonts/bariol_bold-webfont.svg#bariol_boldbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "../fonts/bariol";
    src: url('../fonts/bariol_bold_italic-webfont.eot');
    src: url('../fonts/bariol_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol_bold_italic-webfont.woff') format('woff'),
         url('../fonts/bariol_bold_italic-webfont.ttf') format('truetype'),
         url('../fonts/bariol_bold_italic-webfont.svg#bariol_boldbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "bariol";
    src: url('../fonts/bariol_light-webfont.eot');
    src: url('../fonts/bariol_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol_light-webfont.woff') format('woff'),
         url('../fonts/bariol_light-webfont.ttf') format('truetype'),
         url('../fonts/bariol_light-webfont.svg#bariol_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "bariol";
    src: url('../fonts/bariol_light_italic-webfont.eot');
    src: url('../fonts/bariol_light_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol_light_italic-webfont.woff') format('woff'),
         url('../fonts/bariol_light_italic-webfont.ttf') format('truetype'),
         url('../fonts/bariol_light_italic-webfont.svg#bariollight_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/**** Body ****/

body{
	background-color: #FFF;
}

/**** Navigation ****/

header{
	font-size: 20px;
	height: 10%;
	margin-top: 1%;	
	font-family: "bariol",Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
}
.navigation{
	margin-bottom:1%;
	width: 100%;
	height: 100%;
}
.site-name{
	margin-left:10%;
	margin-right: 35%;	
	font-style: italic;
	float: left;
}
.site-name a{
	color:#44c0c2;
	text-decoration: none;
}
.menu ul{
	list-style-type: none;
	
}
.menu li{
	display:inline-block;
	margin: 0% 4%;
}

.menu a{
	color:#414a5a;
	text-decoration:none;
}
.menu a:hover{
	color: #44c0c2;
	text-decoration:none;
	font-style: italic;
}

.menu .active{
	border-bottom: 1px solid #44c0c2
}

/**** Page Blog ****/


.bloc-img img{
	width: 100%;
	height: 30%;
}
.bloc-img figcaption{
	font-family: "bariol",Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
	color:#FFF;
	margin:auto;
	position:relative; 
	top:-2em;
	width:10%;
	margin:auto;
	font-size:350%;
}

.articles{
	width:70%; 
	min-height:1010px; 
	float:left; 
	display:block;
	display:block;
}
.pres-article{
	position:relative; 
	width:85%; 
	min-width:600px;
	height:300px; 
	
	/*border: 1px solid #000;*/
	margin-left:8%;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
}
.pres-article:first-child{
	margin-top: 0%;
}

.pres-article .bloc-date{
	float:left;
	width:8%;
	height:30%;
	
	background-color: #44c0c2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.pres-article .bloc-date p{
	text-align:center;
	word-wrap: break-word;
	font-family: "bariol",Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size:1.3em;
	color: #FFF;
}
.pres-article .bloc-date p:first-line{
	font-size:1.7em;
}
.presentation{
	margin:30px 9%;
}
.presentation h3{
	font-family: "bariol",Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size:1.5em;
	margin-bottom:10px;
	color:#414a5a;
}
.presentation  img{
	width: 230px; 
	height:230px; 
	float:left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	/*border: 1px solid #000;*/
}
.pres{
	margin-left:245px;
	margin-top:3%;
	font-family: Arial, sans-serif;
	font-weight: lighter;
	font-style: normal;
	font-size:0.9em;
	color:#414a5a;
	text-align:justify; 
	line-height: 20px;
}
.pres p{
	min-width:300px;
	max-height: 190px;
	overflow: auto;
}
.pres a{
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size:1.2em;
	line-height:25px;
	text-decoration: none;
	color: #44c0c2;
}
.bloc-infos{
	position: absolute;
	bottom:0px;
	width: 100%;
	height: 30px;
	border-top: 1px solid #44c0c2;
	border-bottom: 1px solid #44c0c2;;
}
.bloc-infos p{
	display: inline-block;
	margin-left:15%;
	margin-right:5%;
	line-height: 30px;
	height: 30px;
	font-family:'bariol' ,Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size:1em;
}
.bloc-infos a{
	text-decoration: none;
	color:#000;
}
.bloc-infos img{
	width: 30px;
	height: 30px;
	margin-right: 2%;
	float: right;
}


/**** SideBar ****/

.sidebar{
	display: inline-block;
	float: right;
	width: 20%;
	margin-right:6%;
}
.sidebar h2{
	font-family: "bariol",Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size:1.3em;
	margin-bottom: 20px;
}
#recherche{
	width:90%;
	margin-top:50px;
	margin-left: 5%;
	border: 1px solid #e9e9e9; 
	height: 50px;
	margin-bottom: 30px;
}
.follow{
	margin-bottom:25px;
	margin-top:25px;	
}
.reseaux{
	margin-bottom:25px;
	margin-top:25px;
	margin-left:15%;
}
.reseauSociaux{
	display:inline-block;
	margin-left:1%;
	margin-right: 1%;
}
.reseauSociaux img{
	width:50px; 
	height:50px;
}
#emailInscription{
	width:90%;
	margin-left: 5%;
	border: 1px solid #e9e9e9; 
	height: 50px;
}
.boutonInscription{
	width:70%;
	margin-top:10px;
	margin-left: 15%; 
	height: 40px;
	background-color: #44c0c2;
	font-family: "bariol",Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size:1.1em;
	color: #FFF;
	border: 1px solid #44c0c2; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.categorie li{
	font-family: "bariol",Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size:1.1em;
	margin-top:20px;
	margin-bottom:20px;
}
.categorie li:first-letter{
	font-weight: bold;
	font-size:1.2em;
	color:#44c0c2;
	margin-right: 10%;
}
.categorie a{

	text-decoration: none;
	color:#414a5a;
}
.categorie a:hover{

	color: #44c0c2;
	text-decoration:none;
	font-style: italic;
}
.activeCategorie{
	background-color: #e9e9e9;
	color:#FFF;
	margin-left: 3%;
	padding-bottom: 2px;
	padding-left: 2%;
	width: 60%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}